*{margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root{
  /* color primario*/
  --Linear-gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
   /* color neutrales*/
   --very-light-grayish-blue: hsl(240, 78%, 98%);
   --light-grayish-blue: hsl(234, 14%, 74%);
   --Grayish-Blue: hsl(233, 13%, 49%);
   --Dark-Grayish-Blue: hsl(232, 13%, 33%);
   
}
font-family: 'Montserrat', sans-serif;

body{
  width: 100%;
  height: 100%;
  
}
.container{
  max-width: 100%;
  min-height: 100%;
  font-family: sans-serif;
  background-color: var(--very-light-grayish-blue);
  background-image: url('/assets/logos/bg-bottom.svg');
  background-repeat: no-repeat,no-repeat;
  background-position: 0% 100%, 100% 0%;
  background-size:18rem, 15rem;
}